body {
    background-color: #EFF3FC;
    font-family: "Rubik", sans-serif;
}

.navbar {
    background-color: #EFF3FC;
    border-bottom: 2px solid #217CE7;
    position: fixed;

    width: 100%;
}

.navbar-expand-lg {
    background-color: inherit;
}

.nav-link {
    font-size: x-large;
    transition: color 0.3s; /* efeito de transição */
}

.nav-item {
    padding-left: 10px;
}

.texto-titulo {
    text-align: center;
    color: #217CE7;
    padding-top: 100px;
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
}

.texto{
    text-align: center;
    color: #217CE7;
    padding-top: 1%;
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#upload {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#upload:hover {
    opacity: 90%;
    cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
}

.img-fluid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque {
    color:black
}

.custom-checkbox .form-check-input {
    width: 50px;
    height: 50px;
}

.custom-checkbox .form-check-label {
    padding-left: 40px;
    font-size: 50px;
}

.box{
    padding-left: 15%;
}

.textbox{
    padding-bottom: 10px;
    padding-left: 10%;
    color: #217CE7;
}

#librapro{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-left: 10%;
    height: auto;
    width: 100%;
}

#legendapro{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 10%;
    padding-bottom: 5px;
    padding-left: 10%;
    height: auto;
    width: 100%;
}

footer {
    background-color: #217CE7;
    color: #EFF3FC;
    padding: 10px;
    text-align: left;
}

footer p {
    margin: 0;
}

.botao-imagem{
    border: none;
    background-color: #EFF3FC;
}

#btdoacao{
height: 100px;
    border: none;
    background-color: #EFF3FC;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}